name: Cross platform build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies (Linux & macOS)
        if: runner.os != 'Windows'
        run: |
          if [ $RUNNER_OS == "macOS" ]; then
            brew install gcc
          else
            sudo apt update && sudo apt install -y g++
          fi

      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          install: mingw-w64-x86_64-gcc

      - name: Compile C++ code (Linux & macOS)
        if: runner.os != 'Windows'
        run: g++ -std=c++20 -Wall -Werror main.cpp -o main

      - name: Compile C++ code (Windows)
        if: runner.os == 'Windows'
        shell: msys2 {0}
        run: g++ -std=c++20 -Wall -Werror main.cpp -o main.exe

      - name: Run tests (Linux & macOS)
        if: runner.os != 'Windows'
        run: ./main

      - name: Run tests (Windows)
        if: runner.os == 'Windows'
        shell: msys2 {0}
        run: ./main.exe

